.Rhistory
.DS_Store
data/.DS_Store
notebooks/.DS_Store
data/players.json
data/ginf.csv
data/events.csv
data/events
data/dictionary.txt
data/la_liga_events
data/la_liga_events_csv
data/clean_data/*.csv
data/clean_data
README.html